PORT=4000
PGUSER=skillfusion
PGPASSWORD=skillfusion_pw
PGDATABASE=skillfusion_db # skillfusion_db_dev pour la dev par Docker
PGHOST=127.0.0.1
PGPORT=5432 # 5433 Si on passe par Docker

DATABASE_URL=postgresql://skillfusion:skillfusion_pw@127.0.0.1:5432/skillfusion_db # 5433 si on passe par Docker /skillfusion_db_dev pour la dev par Docker

# DEV
# CMD=sh -c "pnpm run db:generate && pnpm run db:reset && pnpm dev"
# ou si on ne veut pas reset/seed, mais juse lancer : 
# CMD=sh -c "pnpm dev"


# PROD
# CMD=pnpm run docker:start


# Dans le terminal, lancer :
# docker compose up --build