# API
PORT=4000

# BDD
# Récupérez vos infos à partir de votre supabase
# Une fois un projet créé, allez dans `connect` > ORMs > Prisma
# vous y trouverez votre: 
# DATABASE_URL="postgresql://postgres.aqbgifrcvmphssnkyrxv:[YOUR-PASSWORD]@aws-1-eu-west-1.pooler.supabase.com:6543/postgres?pgbouncer=true"
# et
# DIRECT_URL="postgresql://postgres.aqbgifrcvmphssnkyrxv:[YOUR-PASSWORD]@aws-1-eu-west-1.pooler.supabase.com:5432/postgres"

PGUSER=postgres.aqbgifrcvmphssnkyrxv
PGPASSWORD=<votre mot de passe>
PGHOST=aws-1-eu-west-1.pooler.supabase.com
PGPORT=6543
PGDATABASE=postgres

# Connect to Supabase via connection pooling
DATABASE_URL=postgresql://${PGUSER}:${PGPASSWORD}@${PGHOST}:${PGPORT}/${PGDATABASE}?pgbouncer=true

# Direct connection to the database. Used for migrations
DIRECT_URL=postgresql://${PGUSER}:${PGPASSWORD}@${PGHOST}:5432/${PGDATABASE}

JWT_SECRET=the_enormous_secret_CHUT321!
JWT_REFRESH_SECRET=just_another_enormous_secret_CHUT4321!?

# DEV
# CMD=sh -c "pnpm run db:generate && pnpm run db:reset && pnpm dev"

# DEV + supabase
# CMD=sh -c "pnpm run db:generate && pnpm prisma migrate deploy && pnpm run db:seed && pnpm dev"
# CMD=sh -c "pnpm run db:generate && pnpm run db:deploy && pnpm run db:seed && pnpm dev"
CMD=sh -c "pnpm run db:generate && DATABASE_URL=$DIRECT_URL pnpm run db:deploy && DATABASE_URL=$DIRECT_URL pnpm run db:reset && pnpm dev"

